* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    height: 100vh;
    background-image: url(/img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-light {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.ttitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 170px;
}

.ttext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 200px;
}

.stitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
}

.stext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.card-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.card-link {
    text-decoration-line: underline;
    color: #4985FF;
}

.card-text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.card-text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.card-body2 {
    background: #F6F6F8;
}

.all {
    background-image: url(/img/blue.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    height: 490px;
}

.pod {
    text-decoration-line: underline;
    color: #4985FF;
}

.atitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    width: 540px;
    padding-top: 100px;
    padding-bottom: 70px;
}

.acard-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding: 30px 0;
}

.abtn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 15px 36px;
    border: none;
}

.ntitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #000000;
    padding-top: 100px;
}

.ntext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding: 0 280px;
}

.nbtn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    padding: 15px 36px;
    border: none;
    margin-bottom: 130px;
}

.video {
    background-image: url(/img/hero.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    text-align: center;
    padding-top: 70px;
    position: relative;
}

.vtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.vtext {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 70px;
}